@model IEnumerable<CommAsst17in18for172.Models.GrantType>

@{
    ViewBag.Title = "Grant Types Assignment ITC172";
}

<div class="jumbotron">
    <h1>Grant Types Assignment ITC172</h1>
</div>

<div class="row">
    <table class="table">
        <tr>
            <!--*Grant types 5 Modify the home index view to have a table that
                displays all the grant types, their description, their
                one time max and lifetime max grant amounts.-->
            <th>@Html.DisplayNameFor(model => model.GrantTypeName)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeDescription)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypemaximum)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeLifetimeMaximum)</th>
        </tr>
        <tr>
            @foreach(var itemOf in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model=>itemOf.GrantTypeName)</td>
                    <td>@Html.DisplayFor(model=>itemOf.GrantTypeDescription)</td>
                    <td>@Html.DisplayFor(model=>itemOf.GrantTypemaximum)</td>
                    <td>@Html.DisplayFor(model=>itemOf.GrantTypeLifetimeMaximum)</td>
                </tr>
            }
        </tr>
    </table>
</div>